div,
p {
  margin: 0;
  padding: 0;
}

/* div { */
/* background-color: yellow;
  width: 150px; */
/* width: 80vw;
  height: 50vh;
} */
p {
  /* width: 150px; */
  /* width: 100vw; */
  width: 50%;
  background-color: red;
}

div.wrapper {
  border-image: url("../../image.png") 11 11 11 11 stretch;
  /* -webkit-border-image: url("../../image.png") 1 repeat; */
  border-width: 6px;
  /* border: 1px solid brown; */
  background-color: aqua;
  width: 50%;
  min-width: 250px;
  max-width: 300px;
  height: 200px;
  /* overflow: scroll; */
  overflow-y: auto;
  /* margin: 4em; */
  /* margin-top: 4em;
  margin-bottom: 4em;
  margin-left: 2em;
  margin-right: 2em; */
  margin: 4em 2em auto 2em;
  padding: 1em;
  /* visibility: hidden; */
  /* display: none; */
  /* margin: 4em 2em; */
  box-shadow: 0px 0px 50px 0px orange inset;
}

span.wrapper {
  background-color: aqua;
  width: 50vw;
  /* width: 150px; */
  display: inline-block;
}

div.parent {
  height: 200px;
  width: 200px;
  border-radius: 6px;
  background-color: blue;
  overflow: hidden;
  /* border: 1px solid black; */
  border-width: 6px;
  border-style: solid;
  border-color: black;
}
div.child {
  height: 100%;
  width: 100%;
  background-color: aquamarine;
}

ul.navbar {
  display: flex;
  /* list-style-type: decimal-leading-zero;
  list-style-position: inside; */
  background-color: #f29d13;
  justify-content: space-around;
  list-style: decimal-leading-zero inside;
  /* list-style-image: url("../../arrow.png"); */
}
ul.navbar > li {
  background-color: #000;
  color: #fff;
  padding: 0.5em;
}
div.circle {
  height: 200px;
  width: 200px;
  background-color: #f29d13;
  /* border-radius: 100%; */
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
}
table {
  cursor: url("../../arrow.png"), pointer;
  border: 1px solid black;
  /* border-collapse: seperate; */
  /* border-collapse: collapse; */
  border-spacing: 5px;
  empty-cells: hide;
}
tr {
  /* background-color: red; */
  /* border: 1px solid orange; */
}
td {
  border: 2px solid green;
  background-color: blue;
}
