* {
  margin: 0;
  padding: 0;
}

div {
  background-color: yellow;
  /* width: 150px; */
  width: 80vw;
  height: 50vh;
}
p {
  /* width: 150px; */
  /* width: 100vw; */
  width: 50%;
  background-color: red;
}
