/* div {
  height: 10vh;
  width: 10vw;
}
div.one {
  background-color: aqua;
  opacity: 0.2;
} */
/* div.two { */
/* background-color: navy;
  position: absolute; */
/* top: 0px; */
/* right: 45vw;
  top: 45vh; */
/* position: relative;
  top: 12px;
  right: 12px;
  bottom: 12px;
  left: 12px;
  opacity: 0.5; */
/* } */
/* div.three {
  background-color: green;
} */

div.parent {
  height: 400px;
  width: 400px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  position: absolute;
  background-color: red;
  bottom: 10px;
}

div.grand-parent {
  height: 600px;
  width: 600px;
  border-color: green;
  border-style: solid;
  border-width: 1px;
  position: relative;
  background-color: orange;

  /* bottom: 10px; */
}

div.child {
  height: 100px;
  width: 100px;
  background-color: yellow;
  position: fixed;
  right: 0px;
  bottom: 0;
}

/* div.parent-1 {
  height: 200px;
  width: 200px;
  background-color: rgb(5, 8, 238);
  position: absolute;
  top: 100px;
  opacity: 0.5; */
/* left: 20px; */
/* } */

/* div.parent-2 {
  height: 200px;
  width: 200px;
  background-color: rgb(32, 238, 5); */
/* position: absolute; */
/* opacity: 0.5; */
/* left: 20px; */
/* } */
div.normal {
  height: 30vh;
  background-color: rgb(72, 0, 255);
  width: 100vw;
  margin: 6px auto;
  color: white;
  padding: 16px;
  border: 6px solid black;
}

div.sticky {
  position: sticky;
  top: 40px;
}

div {
  height: 200px;
  width: 200px;
  border: 6px solid black;
  background-color: orange;
  position: relative;
  /* z-index: 1; */
}

div.absolute {
  position: absolute;
  background-color: red;
  z-index: 3;
}

img {
  color: blue;
  background-color: red;
}

.one-parent{
  height: 100px;
  width: 100px;
  background-color: aqua;
  position: sticky;
  top: 50px;
  z-index: 2;
}